# Keep the repository limited to package runtime sources.
*

!.gitignore
!/README.md
!/language/
!/language/**
!/pkg_wtjoomshoppingfinder.xml
!/script.php
!/plg_finder_wtjoomshoppingfinder/
!/plg_finder_wtjoomshoppingfinder/**
!/plg_jshopping_wtjoomshoppingfinderbridge/
!/plg_jshopping_wtjoomshoppingfinderbridge/**
